*,
*:hover,
*:focus{
box-sizing: border-box;
margin: 0;
padding: 0;
}

.portfolio-ampersand{
    font-size: 48px;
    color: black;
    -webkit-text-stroke: 1px red;

}

nav{
    display: flex;
    justify-content: space-between;
    ul{
        display: block;
        list-style-type: none;
        li{
            overflow: hidden;
            opacity: 0;
            display: block;
            padding:20px;
        }
    }


}