// ==========================================
// variables
// ==========================================

//font-var
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'roboto', sans-serif;
$font-spacing-primary: 10%;
$font-line-primary: 25pt;

//color-var
$clr-font: #303030;
$clr-bg: #f2f2f2;
$clr-accent: #ec0868;


// ============================================
// main style
// =======================================
*,
*:hover,
*:focus{
box-sizing: border-box;
color: $clr-font;
}

body{
    background-color: $clr-bg;
}

*{
    margin: 0;
    padding: 0;
    font-family: $font-primary;
    text-decoration: none;
}

.portfolio-ampersand{
    font-size: 48px;
    color: black;
    -webkit-text-stroke: 1px red;
}

.hero{
    min-height: 100%;
    height: 100vh;
    max-width: 95%;
    margin: auto;
}

.hero-img{
    object-fit: cover;
    top: 0;
    left: 45%;
    position: absolute;
    height: 100vh;
    width: 45%;
    z-index: -1;
}

.h1-name{
    text-align: right;
    position: absolute;
    right: 55%;
    top: 30%;
    display: inline-block;
    font-weight: 900;
    font-size: 180px;
    line-height: 200px;
    padding-left: 10px;
    z-index: 3;
}


.h1-name-2{
    position: absolute;
    left: 45%;
    top:30%;
    display: inline-block;
    font-weight: 900;
    font-size: 180px;
    line-height: 200px;
    z-index: 3;
}

.clr-prim{
    color: $clr-accent;
}

.resume{
    display: block;
    width: 40%;
    position: absolute;
    left: 5%;
    bottom: 4%;
    display: flex;
    align-items: flex-end;
    &-p{
        padding: 15px;
    }

    
}



.line-1{
    display: inline-block;
    content:'';
    width: 80px;
    height: 200px;
    border-top: solid 3px $clr-font;
    margin-left: 300px;
}

.line-2{
    position: absolute;
    right: 0;
    bottom: 20px;
    transition: .2s ease-out;
}

nav{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    ul{
        display: block;
        list-style-type: none;
        text-align: right;
        li{
            opacity: 0;
            overflow: hidden;
            padding: 15px;
            transition: .2s ease-out;
        }
    }

    ul:hover > li{
        opacity: 1;
    }

    ul:hover .line-menu-1{
        transform: translateY(20px);
    }

    ul:hover .line-menu-2{
        transform: translateY(-20px);
    }
    }

li{
    transition: .2s ease-out;
}

li:hover{
    transform: scale(1.2);
    color: $clr-accent;
}

a{
    transition: .2s ease-out;
}

a:hover{
    color: $clr-accent;
}

.line-menu-1{
    transition: .2s ease-out;
}

.line-menu-2{
    transition: .2s ease-out;
}

p{
    font-family: $font-secondary;
}